[submodule "databao-agent"]
	path = databao-agent
	url = https://github.com/Sandeep5500/databao-agent.git
	branch = main
[submodule "databao-context-engine"]
	path = databao-context-engine
	url = https://github.com/Sandeep5500/databao-context-engine.git
	branch = main
[submodule "Spider2"]
	path = Spider2
	url = https://github.com/xlang-ai/Spider2.git
	branch = main
